@charset "UTF-8";
/* CSS Document */

html{
	width: 100%;
	height: 100%;
	font-family: Avenir, 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

body{
	width: 100%;
	height:100%;
	color: #3f382e;/*フォントカラー*/
	font-size: 12pt;
	text-align:center;
	background-color: #fff;/*背景の色*/
	/*background-image: linear-gradient(#539693, #f08d46,#c9b9b0);*/
	background-image: url(../img/back.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment:fixed;
	background-position: 50% 50%;
}

header, footer, .contents{
	box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/*リンクカラー設定*/
a{
	color:#3f382e;
	text-decoration:none;
	transition: 0.5s;
}

a:hover{
	color:#dae8e8;
	text-decoration:none;
}

a:hover path{
	fill:#dae8e8;
}

#wrapper{
	margin: 0;
	width: 100%;
	height: 100%;
	display:flex;
	flex-direction : column;
}

/*ヘッダー*/
header{
	/*background: rgba(255,255,255,0.5);*/
	width: 100%;
	/*position: fixed;
	top: 0;*/
	display:flex;
	height: 80px;
	padding: 0;
	z-index: +1;
}

#main{
	/*margin:120px auto 0 auto;*/
	height: 100%;
	width:100%;
	padding:0;
	margin:0;
	align-items:baseline;
	flex:1;
	overflow:auto;
	display:flex;
}

.contents p ~ p{
	margin-top: 24px;
}

.logo{
	display:inline-block;
	margin:auto 48px auto 24px;
	font-size: 18pt;
}

.logo img{
	height:40px;
}

nav{
	display: inline-block;
	margin:auto 0;
}

.menu{
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu li {
	display: inline-block;
	padding: 0 5px;
	margin: 0;
}

.menu li.active {/*選択中のタブ。色を変える等*/
	color: #eee;
}

.title{
	font-size:14pt;
	margin:0;
	font-weight: normal;
	text-align: center;;
}

.title_sub{
	text-align: left;
	margin:32px 0 16px 0;
}

.title_sub:first-of-type{
	margin:0 0 16px 0;
}

.border{
	background: #e07d46;
	background-image: linear-gradient(-90deg, #c9b9b0, #f08d46,#539693);
	height:2px;
	width:96px;
	border:0;
	margin:24px auto 48px auto;
}

.btn{
	font-size: 16px;
	color: #444344;
	border: solid 1px #444344;
	border-radius: 32px;
	margin: 24px auto;
	padding: 16px;
	max-width:180px;
	background: rgba(255, 255, 255, 0.5);
	transition: 0.5s;
}

.btn:hover{
	background:#dae8e8;
}

.sns{
	font-size:12pt;
	margin: auto 24px auto auto;
	display:inline-block;
}

.contents{
	/*background: rgba(255,255,255,0.5);*/
	max-width:528px;
	margin:auto;
	padding:24px;
	justify-content: center;
	align-items: center;
	display:none;
	flex:1;
}

#main :first-child{
	display:block;
}

.contents .center{
margin:0 auto;
text-align:center;
}

.small{
	font-size:10pt;
	display:inline;
}

.contents p{
	text-align: justify;
	max-width:480px;
	margin:0;
	line-height: 1.75em;
}

#page5 img{
	width:100%;
	margin:0 auto 20px auto;
}

.link{
	display:inline-block;
	width:150px;
}

.link img{
	margin:24px auto;
	width:50%;
}

.link p{
	text-align:center;
	width:150px;
	margin:0;
}

footer{
	margin:0;
	padding:0;
	width:100%;
	height:64px;
	/*background: rgba(255,255,255,0.5);*/
	display:flex;
}

.menu_trigger,
.menu_trigger span {
	display: inline-block;
	transition: all .4s;
	box-sizing: border-box;
}
.menu_trigger {
	position: relative;
	width: 40px;
	height: 32px;
}

.menu_trigger span {
	position: absolute;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #000;
	border-radius: 4px;
}
.menu_trigger span:nth-of-type(1) {
	top: 0;
}
.menu_trigger span:nth-of-type(2) {
	top: 14px;
}
.menu_trigger span:nth-of-type(3) {
	bottom: 0;
}

#nav_toggle{
	display:none;
	height:32px;
	margin:24px 24px 24px auto;
}

@media screen and (max-width:740px) {
	/*　for iPhone Landscape　(iPhone 横)　*/
	.sns{
		margin:auto;
	}

	body{
		background-size: 200%;
	}
	.logo{
		margin: auto 24px;
	}
	.menu li{
		display:inline-block;
		margin:0 auto;
	}

	header{
		height:88px;
	}

	#global_nav {
			position: absolute;
			/* 開いてないときは画面外に配置 */
			background:rgba(255,255,255,0.8);;
			top: -436px;
			width: 100%;
			text-align: center;
			padding: 10px 0;
			-webkit-transition: .5s ease-in-out;
			-moz-transition: .5s ease-in-out;
			transition: .5s ease-in-out;
		}
	#global_nav li{
		display:block;
		margin:32px auto;
	}

	#nav_toggle{
		display:inline-block;
	}

	.open #global_nav {
			/* #global-nav top + #mobile-head height */
			-moz-transform: translateY(524px);
			-webkit-transform: translateY(524px);
			transform: translateY(524px);
	}

	.menu_trigger::after {
	position: absolute;
	left: 0;
	bottom: -24px;
	content: 'Menu';
	display: block;
	width: 100%;
	text-decoration: none;
	text-align: center;
	transition: all .4s;
}
.open .menu_trigger::after {
	content: 'Close';
	left:0;
	bottom: -24px;
}

.open .menu_trigger span:nth-of-type(1) {
	-webkit-transform: translateY(14px) rotate(-45deg);
	transform: translateY(14px) rotate(-45deg);
}
.open .menu_trigger span:nth-of-type(2) {
	opacity: 0;
	-webkit-animation: active-menu-bar02 .8s forwards;
	animation: active-menu-bar02 .8s forwards;
}
@-webkit-keyframes active-menu-bar02 {
	100% {
		height: 0;
	}
}
@keyframes active-menu-bar02 {
	100% {
		height: 0;
	}
}
.open .menu_trigger span:nth-of-type(3) {
	-webkit-transform: translateY(-14px) rotate(45deg);
	transform: translateY(-14px) rotate(45deg);
}

}

/*ギャラリーページ用のあれこれなのでいじらない*/

 dl, dd {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}


.thumb li,
.thumb dl,
.thumb dt,
.thumb dd {
 box-sizing: border-box;
 -moz-box-sizing: border-box;
}

.thumb::after {
 content: "";
 display: block;
 clear: both;
}

.thumb li {
 float: left;
 width: 33%;
}

.thumb li a {
 display: block;
 text-decoration: none;
 background-color: #fff;
 transition: color 0.6s, background-color 0.6s, opacity 0.6s;
}

.thumb dl {
 position: relative;
 overflow: hidden;
}

.thumb dt,
.thumb dd {
 font-size: 0.8em;
 line-height: 1.6;
}

.thumb img {
 width: 100%;
 vertical-align: middle;
}

.thumb .date,
.thumb .excerpt {
 color: #373039;
}

.thumb .ttl {
 margin-bottom: 0.3em;
 font-size: 1em;
 line-height: 1.4;
}

.thumb .excerpt {
 font-size: 0.7em;
}
/* :::::: image :::::: */

.thumb .date,
.thumb .ttl {
  z-index: 1;
  position: absolute;
  left: 0;
  line-height: 1;
  background-color: rgba(255,255,255,0.8);
}

.thumb .date {
  top: 15px;
  padding: 0.3em 5px 0.15em 15px;
}

 .thumb .ttl {
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0.5em 15px 15px;
  font-size: 0.8em;
}

.thumb .excerpt {
  display: none;
}

.thumb .date,
.thumb .ttl {
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.6s;
  transition: opacity 0.3s, transform 0.6s;
}

.thumb .date {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.thumb .ttl {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.thumb a:hover {
  background-color: rgba(255,255,255,0.3);
}

.thumb a:hover .date,
.thumb a:hover .ttl {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition-duration: 1s, 0.6s;
}

.thumb .img {
  overflow: hidden;
  background-color: #593869;
  transition: background-color 0.6s 1s;
}

.thumb dl .img img {
  -webkit-transition: opacity 1s, -webkit-transform 0.3s;
  transition: opacity 1s, transform 0.3s;
}

.thumb:hover dl .img img {
  transition-duration: 1s;
}

.thumb a:hover .img img {
  opacity: .6;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.wrap {
    max-width:480px;
    background:#dae8e8;
    margin:24px 0;
    padding:0;
}
.wrap p {
    width:100%;
		overflow:hidden;
}
.wrap ul {
    display:flex;
    overflow:hidden;
}
.wrap li {
	width:20%;
    display:block;
    background:#fff;
}
.wrap li img {
	width:100%;
    cursor:pointer;
}
