@charset "UTF-8";
/* CSS Document */

html{
	width: 100%;
	height: 100%;
	font-family: Avenir,　游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

body{
	width: 100%;
	height:100%;
	color: #3f382e;/*フォントカラー*/
	font-size: 12pt;
	text-align:center;
	background-color: #fff;/*背景の色*/
	background-image: url(../img/back.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment:fixed;
	background-position: 50% 50%;
}

header, footer, .contents{
	box-sizing: border-box;
  -moz-box-sizing: border-box;
}

a{
	color:#3f382e;
	text-decoration:none;
}

a:hover{
	color:#a6a098;
	text-decoration:none;
}

header{
	background: rgba(255,255,255,0.7);
	width: 100%;
	position: fixed;
	top: 0;
	height: 12%;
	padding: 12px 0 10px 0;
	z-index: +1;
}

#wrapper{
	margin: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

#main{
	/*margin:120px auto 0 auto;*/
	height: 100%;
	align-items:baseline;
	position: relative;
	top:0;
	bottom:0;
	right:0;
	left:0;
	margin:auto;
	background: rgba(255, 255, 0, 0.3);
}

.logo{
	margin:0 0 8px 0;
	display:inline-block;
}

.logo img{
	height:20px;
}

.title{
	font-size:16pt;
	margin:0;
}

.title_sub{
	font-size:14pt;
}

.btn{
	font-size: 16px;
	color: #444344;
	border: solid 1px #444344;
	border-radius: 32px;
	margin: 20px auto 40px auto;
	padding: 16px;
	max-width:180px;
	background: rgba(255, 255, 255, 0.5);
}

.btn:hover{
	border: solid 2px #444344;
	margin: 19px auto 39px auto;
}

.access .btn{
	width:60%;
}

.sns{
	margin: 0;
}

.sns img{
	width: 24px;
	height: 24px;
	margin: 0 4px;
}

.menu{
	width:100%;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

.menu li {
	display: inline-block;
	padding: 0 5px;
	margin: 0;
}

.menu li.active {/*選択中のタブ。色を変える等*/
	color: #eee;
}

.contents,.contents_works {
	background: rgba(255,0,128,0.2);
	max-width:600px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	height: 75%;
	margin: 0% auto;
	overflow: auto;
	padding:30px;
	justify-content: center;
	align-items: center;
	display:none;
}

.contents_works{
	display:block;
}

.contents p{
	text-align: justify;
	max-width:570px;
	margin:0 auto;
}

#page5 img{
	width:100%;
	margin:0 auto 20px auto;
}

.link{
	display:inline-block;
	width:180px;
}

.link img{
	margin:20px 0;
}

.link p{
	text-align:center;
	width:180px;
	margin:0;
}

footer{
	margin:0 auto;
	padding: 10px 0 10px 0;
	width:100%;
	height:12%;
	background: rgba(255,255,255,0.7);
	position:fixed;
	bottom:0;
}

/*@media screen and (max-width:600px) {
	/*　for iPhone Landscape　(iPhone 横)　*/
/*	body{
		background-size: 200%;
	}
	.sns img{
		margin: 0 10px;
	}

	.menu li{
		display:inline-block;
		margin:0 auto;
	}
}*/

ul, dl, dd {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}


.thumb li,
.thumb dl,
.thumb dt,
.thumb dd {
 box-sizing: border-box;
 -moz-box-sizing: border-box;
}

.thumb::after {
 content: "";
 display: block;
 clear: both;
}

.thumb li {
 float: left;
 width: 33%;
 padding: 2px;
}

.thumb li a {
 display: block;
 text-decoration: none;
 background-color: #fff;
 transition: color 0.6s, background-color 0.6s, opacity 0.6s;
}

.thumb dl {
 position: relative;
 overflow: hidden;
 padding: 10px;
}

.thumb dt,
.thumb dd {
 font-size: 0.8em;
 line-height: 1.6;
}

.thumb img {
 width: 100%;
 vertical-align: middle;
}

.thumb .date,
.thumb .excerpt {
 color: #373039;
}

.thumb .ttl {
 margin-bottom: 0.3em;
 font-size: 1em;
 line-height: 1.4;
}

.thumb .excerpt {
 font-size: 0.7em;
}
/* :::::: image :::::: */

.thumb .date,
.thumb .ttl {
  z-index: 1;
  position: absolute;
  left: 0;
  line-height: 1;
  background-color: rgba(255,255,255,0.8);
}

.thumb .date {
  top: 15px;
  padding: 0.3em 5px 0.15em 15px;
}

 .thumb .ttl {
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0.5em 15px 15px;
  font-size: 0.8em;
}

.thumb .excerpt {
  display: none;
}

.thumb .date,
.thumb .ttl {
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.6s;
  transition: opacity 0.3s, transform 0.6s;
}

.thumb .date {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.thumb .ttl {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.thumb a:hover {
  background-color: rgba(255,255,255,0.3);
}

.thumb a:hover .date,
.thumb a:hover .ttl {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition-duration: 1s, 0.6s;
}

.thumb .img {
  overflow: hidden;
  background-color: #593869;
  transition: background-color 0.6s 1s;
}

.thumb dl .img img {
  -webkit-transition: opacity 1s, -webkit-transform 0.3s;
  transition: opacity 1s, transform 0.3s;
}

.thumb:hover dl .img img {
  transition-duration: 1s;
}

.thumb a:hover .img img {
  opacity: .6;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
